<!DOCTYPE html>
<html>
<head>
  <title>MyStore</title>
  <%= stylesheet_link_tag    'retail_pos/pos_front', :media => "all" %>
  <%# stylesheet_link_tag    'pos_front', :media => "all" %>
  <%# javascript_include_tag 'application' %>
  <%= javascript_include_tag 'retail_pos' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<%# yield %>
<%#
</body>
</html>
%>